<form>
  <div class="form-group">
    {{input value=names id="names" placeholder="Please enter your name."}}
  </div>
  <div class="form-group">
    {{input value=location id="location" placeholder="Please enter your location."}}
  </div>
  <div class="form-group">
    {{input value=notes id="notes" placeholder="Give a brief description of the issue you are having."}}
  </div>
  <button>Help!</button>
</form>
