<h2>{{ ticket.names }}</h2>
<h3>{{ ticket.location }}</h3>
<p class="well">
  {{ ticket.notes }}
</p>
{{#link-to 'teacher'}}Back{{/link-to}}
<button class="pull-right" {{action 'delete' ticket}}>close</button>
