<div {{action 'click' ticket}} class="row">
  <div class="col-sm-2">
    {{ticket.location}}
  </div>
  <div class="col-sm-2 time">
    {{time-display ticket.timestamp}}m
  </div>
  <div class="col-sm-8">
    {{ticket.names}}
  </div>
</div>
