
 .navBar {
   margin: 10px 10px;
   text-align: center;
   font-size: 1.8em;
   background-color: #F05A26;
   padding: 8px;
 }

 .navBar a {
   font-weight: lighter;
   letter-spacing: 3px;
   color: white;
 }

 body {
   background-color: #ECF0F1;
 }

 hr {
   color: black;
 }

.ticket-tile {
  border-bottom: 1px solid rgba(171, 169, 169, 0.34);
  padding: 10px 20px;
  font-size: 18px;
}
